body {
    background-image: url("images/lined-paper-texture-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    padding-top: 3rem;
}

h3 {
    font-size: 2rem;
    padding-top: 2rem;
}

.top {
    text-align: center;
}